.title {
    font-size: 40px;
    text-align: center;
    color: darkred;
    text-transform: uppercase;
}

.sub-title {
    text-align: center;
    color: gray;
    font-style: italic;
}

.first-paragraph {
    text-indent: 40px;
    font-size: 18px;
    color: #333;
}

.content {
    font-size: 17px;
    text-align: justify;
    line-height: 1.6;
    text-indent: 30px;
    color: #222;
}


.highlight {
    color: blue;
    font-weight: bold;
}
